auth.py
updatebaba.ps1
run.ps1
log.txt
robot.db
robot.db-shm
robot.db-wal
robot.db-shm
src/__pycache__/tile.cpython-38.pyc
src/cogs/__pycache__/global.cpython-38.pyc
*.pyc
robot.db
robot.db-wal
*.db
run.sh
