auth.py
log.txt
robot.db
robot.db-shm
robot.db-wal
*.db
run.sh
**/__pycache__/**
src/cogs/secret.py
webhooks.py
grass
**/.idea/
**/.vscode/
.venv/
venv/*/**
venv/*
config.py
nohup.out
data/themes/*
data/editor_objectlist.lua
data/values.lua
data/sprites/baba/
data/sprites/vanilla/
data/fonts/default.ttf
data/levels/baba/
data/levels/baba_m/
data/levels/debug/
data/levels/museum/
data/levels/new_adv/
data/images/**/*
target/
