auth.py
log.txt
robot.db
robot.db-shm
robot.db-wal
*.db
run.sh
**/__pycache__/**
src/cogs/secret.py
webhooks.py
grass
**/.idea/
**/.vscode/
.venv/
venv/*/**
venv/*
nohup.out
data/themes/*
data/editor_objectlist.lua
data/values.lua
data/sprites/baba/
data/sprites/vanilla/
data/sprites/debug/
data/sprites/museum/
data/sprites/new_adv/
data/sprites/baba_m/
data/sprites/museum_m/
data/sprites/new_adv_m/
data/fonts/default.ttf
data/levels/baba/
data/levels/baba_m/
data/levels/debug/
data/levels/museum/
data/levels/museum_m/
data/levels/new_adv/
data/levels/new_adv_m/
data/images/**/*
target/renders/
*.gif
.DS_Store
