Pillow==8.4.0
opencv-python>=4.0.0.0
requests>=2.25.1
emoji
jishaku
git+https://github.com/Rapptz/asqlite
git+https://github.com/Rapptz/discord.py
git+https://github.com/Rapptz/discord-ext-menus
charset-normalizer